:root {
  --cor-titulo: #572422;
  --cor-texto: #756363;
  --cor-listas: #4A3E3E;
  --cor-footer: #594B4B;
  --cor-fundo: linear-gradient(180deg, #F4F4F4 0%, #F4F0F0 21.35%, #F6D7D3 35.94%, #F6D7D3 66.15%, #F8B7AD 86.98%);
  --fonte-primaria: "Nunito Sans", sans-serif;
  --cor-modal: linear-gradient(180deg, #FBCBC3 50%, #F9A89B 50%);
}

#body {
  font-family: var(--fonte-primaria);
  background: var(--cor-fundo);
}

.cabecalho__container {
  display: flex;
  justify-content: space-between;
  padding: 0.3em 4em 0;
  align-items: center;
}

.icone-conta {
  display: flex;
  justify-items: center;
}

.icone-conta button {
  margin: 0;
  border: none;
  background: none;
  padding: 0;
}

.icones {
  width: 30px;
  height: 30px;
}

.icon-marca {
  width: 10%;
  height: auto;
}

#cabecalho-divisao {
  border: none;
  border-top: 1px solid #515050;
}

.cabecalho__container__itens {
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
  list-style: none;
}

.cabecalho__container__itens a {
  color: var(--cor-listas);
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
}

.cabecalho__container__itens a:hover {
  font-weight: 700;
}

.apresentacao__container__produtos {
  padding-top: 2em;
}

.titulo__produtos {
  color: var(--cor-titulo);
  font-weight: 200;
  text-align: center;
  text-transform: uppercase;
  font-size: 27px;
}

.lista__produtos {
  display: flex;
  justify-content: space-around;
  padding: 3em 2em 1em;
}

.lista__produtos__itens {
  margin: 1.5em;
  width: 15%;
}

.lista__produtos__itens img {
  max-width: 100%;
  padding-bottom: 2.5em;
}

.titulo__peles {
  font-weight: 200;
  font-size: 40px;
  color: var(--cor-titulo);
  text-transform: uppercase;
  text-align: center;
  margin: 1em 0 0.5em;
}

.texto__peles {
  font-size: 16px;
  font-weight: 400;
  color: var(--cor-texto);
  text-align: center;
}

.imagens-peles {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2em 0 1em;
}

.rodape__redes {
  display: flex;
  justify-content: space-around;
}

.rodape__icon {
  width: 34px;
  height: 34px;
  margin: 3em;
}

.rodape__lista {
  display: flex;
  justify-content: space-evenly;
  text-transform: uppercase;
  padding: 3em;
  font-size: 16px;
}

.rodape__lista a {
  color: var(--cor-footer);
  text-decoration: none;
}

.rodape__container__texto {
  text-align: center;
  color: var(--cor-footer);
  padding: 1em;
}


.slide {
  display: block;
}

.mobile {
  display: none;
}

.modal-content {
  background-color: #F4F0F0;
  font-family: var(--fonte-primaria);
}

.modal-title {
  font-family: var(--fonte-primaria);
  color: var(--cor-listas);
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  display: flex;
  margin-left: 40%;
}

.form-group {
  padding: 1em;
}


#icone-minha-conta {
  border-style: none;
}

.modal-header {
  display: flex;
  justify-content: center;
  border-bottom: none;
  position: relative;
  align-items: center;
}

.modal-footer {
  border-top: none;
  justify-content: center;
}

.btn-primary {
  background-color: #E7CDC9;
  color: var(--cor-listas);
  font-style: italic;
  font-weight: 600;
  border-color: #E7CDC9;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  background-color: #E7CDC9  !important;
  color: var(--cor-listas)  !important;
  border-color: #E7CDC9  !important;
}


.link-conta {
  display: flex;
  justify-content: center;
}

.paragrafo-conta {
  color: var(--cor-texto);
  margin-right: 10px;
  margin-bottom: 0;
}

.link {
  text-decoration: underline;
  font-weight: 600;
  color: var(--cor-listas);
}

.btn-close-modal {
  border: none;
  position: absolute;
  right: 0;
  margin-right: 1em;
}

@media screen and (max-width: 768px) {
  .slide {
    display: none;
  }

  .mobile {
    display: block;
  }

  .cabecalho__container {
    padding: 1em;
  }

  .cabecalho__container__itens {
    display: none;
  }

  #cabecalho-divisao {
    display: none;
  }

  .lista__produtos {
    display: block;
    padding: 0.5em;
  }

  .lista__produtos__itens {
    width: 65%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .lista__produtos__itens img {
    padding: 1em 0;
  }

  .imagens-peles {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
  }

  .imagens-peles a {
    padding: 1em;
  }

  .texto__peles {
    font-size: 12px;
  }

  .rodape__lista {
    display: block;
    text-align: center;
    padding: 1em;
  }

  .rodape__lista li {
    padding: 0.5em;
  }

  .rodape__container__texto {
    padding: 0.2em;
  }
}